# Python Virtual Environments
venv/
.venv/
env/
__pycache__/

# RL Models and Logs
logs/
tb_logs/
models/
*.zip
*.pt
*.pth
eval_map_configs/


# Map Datasets (Adjust these if you want to track a small subset)
IRSimDataset/
OccupancyGrids/
TestDataset/
EvalDataset/
debug_grid_alignment/
debug_plots/
eval_plots_debug/
test_plots_debug/
easy_plots_debug/
medium_plots_debug/
hard_plots_debug/
IRSimDataset_Sorted/


# IDE and OS files
.vscode/
.idea/
.DS_Store